*{
    box-sizing: border-box; 
}

body{
    align-items: center;
    background-color: #222;
    color: #eee;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI';
}

form{
    align-items: center;
    background-color: #222;
    border: 1px solid #eee;
    display: inherit;
    flex-direction: column;
}

fieldset{
    /* background-color: black; */
    border: 1px solid #ffec00;
    margin: 2% 4%;
    width: 92%;
}

legend{
    color: #ffec00;
    font-weight: bold;
    font-size: 1.1vw;
}

label{
    font-size: 1.1vw;
}

input[type=text],
input[type=email],
input[type=password],
input[type=select],
input[type=date],
textarea{
    border: none;
    border-radius: 10px;
    font-size: 1.1vw;
    margin-bottom: 10px;
    margin-top: 4px;
    padding: 5px; 
    width: 100%;
}

input[type=checkbox]{
    font-size: 1.1vw;
    margin-bottom: 4px;
    margin-top: 10px;
    padding: 5px;
}

input[type=submit]{
    background-color: black;
    border: none;
    border-radius: 10px;
    color: #ffec00;
    font-size: 1.2vw;
    font-weight: bold;
    margin: 2%;
    padding: 7px;
    width: 94%;
}

input[type=submit]:hover{
    background-color: #ffec00;
    color: black;
}

textarea{
    height: 100px;
    resize: none;
}

a{
    color: #eeeeee;
}

a:hover {
    color: #ffec00;
}